body {
    padding: 20px;
    text-align: center;
    background-color: #5e8f8f;
  }


.card {
    text-align: center;
    border: black solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 20rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #cfe04b
}

.image {
    width: 175px;
    height: 245px;
    border: 1px solid #00000020;
    border-radius: 2px;
    text-align: center;
    background-color: white;
}


header {
    text-align: center;
    font-family: "Jazz LET", fantasy;
}

/* button {
    position: absolute;
    bottom: 75px;
    right: 100px;
  } */

 /* form {
    position: absolute;
    bottom: 90px;
    right: 100px;
 }  */
  
  .tooltip:hover + .hide {
    display: block;
    color: red;
    background-color: whitesmoke;
  }

  .hide {
    display: none;
  }