body {
    padding: 20px;
    text-align: center;
    background-color: #5e6e8f;
  }


.card {
    text-align: center;
    border: black solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 22rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #cfe04b;
    /* align-items: center; */
}

.image {
    width: 175px;
    height: 245px;
    border: 1px solid #00000020;
    border-radius: 2px;
    /* text-align: center; */
    background-color: white;
    display: flex;
    /* justify-content: center;  */
    /* position: sticky; */
}

header {
    text-align: center;
    font-family: "Jazz LET", fantasy;
}


 /* form {
    position: absolute;
    bottom: 90px;
    right: 100px;
 }  */
  
  .tooltip:hover {
    display: block;
    color: red;
    background-color: whitesmoke;
  }

  .hide {
    display: none;
  }